.Main_content{
    width: 716px;
    height: 844px;
    Left: 320px;
    background-color: rgb(29,32,62);
    color: white;
}

.barra_busqueda{
    width: auto;
    height: 44px;
    background-color: rgb(81,71,128);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar{
    color: white;
    width: 442px;
    height: 24px;
    border: 1px solid white;
    text-align: center;
}

.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.imagen_banner{
    width: 668px;
    height: 180px;

    border-radius: 20px;
}