* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
	height: 100%;   /* 100vh */
	padding-top: 20px;
	background-color: #d9d9e7;
	font-family: lato, sans-serif;
  display: flex;
  justify-content: center;
}
